.queue {
    display:flex;
    /* width:100vw; */
    justify-content: center;
}

/* cada pedido na fila */
.order{
    background-color: rgba(255, 255, 255, 0.8);
    color: #5F3305;
    border-radius: 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* width:1170px; */
    width:1140px;
    padding:15px;

    margin-bottom:25px;

}

 /* div com nome do cliente + informações do pedido (total de pães e preço total) */
.client-info{
    display: flex;
    flex-direction: column;
    gap:6px;
}

/* div com o total de pães e o preço total */
.order-info{
    display: flex;
    flex-direction: row;
    gap:10px;
    flex-wrap: wrap;
}

/* nome do cliente */
.order h1{
    font-weight: 700;
    font-size: 16px;

}

/* total de pães e preço total */
.order p{
    font-weight: 700;
    font-size: 14px;
}

.order span{
    font-weight: 400;
}

@media(max-width:1244px){
    .order{
        /* width:748px; */
        width:80vw;
    }
}

@media(max-width:819px){
    .order{
        width:80vw;
        min-width: 180px
    }
}