/* create order bg */
.create-order{
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
    width: 100vw;
    height: 100%;

    background: rgba(229, 207, 148, 0.5);
}

.create-order-form{
    min-width: 550px;
    min-height: 300px;
    border-radius: 5px;
    background-color: #fff;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.create-order-form label{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-left: 8%;
    margin-bottom: 20px;

    color: #5F3305;
}

.form-buttons{
    display: flex;
    flex-direction: row;
}

.order-input{
    background: #E5E5E5;
    width: 84%;
    align-self: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

.order-input::placeholder{
    padding: 10px;
    padding-top: 10px;
}

.form-buttons{
    width: 86%;
    align-self: center;
    gap: 10px;
    border-radius: 5px;
    margin-top: 15px;
}

.send-button{
    color: white;
    background-color: #5F3305;
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.cancel-button{
    border-radius: 10px;
    width:100%;
    height:50px;
    background: #fff;
    color: #DB1E1E;
    border: 2px solid #DB1E1E;
}

@media(max-width:600px){
    .create-order-form{
        width: 90%;
        min-width: auto;
    }
}